<div id="sign_in">
  <h2>Sign In</h2>

  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>

    <label for="username">
      Username
      <input type="text" name="user[username]" value="">
    </label>

    <label for="password">
      Password
      <input type="text" name="user[password]" value="">
    </label>

    <input type="submit" value="Sign In">

    <div>
      Build Guest sign-in functionality
    </div>

    <%= link_to "New user? Sign up here!", new_user_url %>

  </form>


</div>
