.bookIndexItem {
  display: inline-flex;
  height: 300px;
  width: 229px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 5px;
  padding: 3px;
  border: 2px solid #0F0;
  vertical-align: top;
}

.bookList {
  columns: 4;
  margin-top: 20px;
}
