.bookDisplay {
  height: 570px;
  width: 900px;
  border: 2px solid #0F0;
  margin: auto;
  margin-top: 20px;
}

.bookShowLeft {
  height: inherit;
  width: 223px;
  display: inline-block;
  border-right: 2px solid #0F0;
}

.bookShowRight {
  display: inline-block;
  width: 675px;
  height: inherit;
  position: absolute;
  font-size: 18px;

}

.bookImage {
  display: inline-flex;
  height: 300px;
  width: inherit;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #0F0;

}

.showRightTop {
  width:inherit;
  height:300px;
  border-bottom: 2px solid #0F0;
}

.bookTitleLabel {
  font-size: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 5px;
  color: #0F0;

}

.showBookTitle {
  font-size: 48px;
  display: inline-block;
  border-left: 2px solid #0F0;
  width: 540px;
  padding-left: 5px;
  padding-right: 5px;
  height: inherit;
  line-height: 80px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.bookShowDetailLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #0F0;
  height: 35px;
  padding-left: 5px;
  color: #0F0;
}

.bookShowDetail {
  display: inline;
  border-left: 2px solid #0F0;
  width: 545px;
  padding-left: 5px;
  height: inherit;
  display: inherit;
  align-items: center;
  color: white;
}


.bookAuthorLI {
  display: inline;
}


.bookDescription {
  padding: 5px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 675px;
  height: 248px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}




.bookAverageRatingLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
  color: #0F0;
}

.bookRatingsCountLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
  color: #0F0;
}

.bookAverageRating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
  border-bottom: 2px solid #0F0;
}

.bookRatingsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
  border-bottom: 2px solid #0F0;
}

.bookshelfButton {
  height: 100px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
