.bookshelfList {
  height: 50px;
  width: 400px;
  border-bottom: 2px solid #0F0;
  border-right: 2px solid #0F0;
}

.bookshelfList > li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  border-left: 2px solid #0F0;
  height: inherit;
  width: 98px;
  vertical-align: top;
  font-family: 'Orbitron', sans-serif;
}

.selectedShelf {
  color: black;
  background-color: #0F0;
  cursor: default;
}

.unselectedShelf {
  color: #0F0;
}

.unselectedShelf:hover {
  cursor: pointer;
  color: black;
  background-color: #0A0;
}
